#downloadcontent dt{ font-size:14px;  color:#E04C36; font-weight:bold; height:25px; line-height:25px;}
#downloadcontent dl{ border-bottom:solid 1px #CBCBCB; padding:20px 0px 20px 20px;}
#downloadcontent dd{ padding:10px;}
#downloadcontent .videolist{ }
#downloadcontent .videolist li{ height:25px; padding:0px 0px 5px 28px; line-height:25px; overflow:hidden; background:url(../pic/li03.jpg) no-repeat 0px 3px;}
#downloadcontent .videolist a{ color:#8B9E79; color:#8B9E79; margin:0px 0px 0px 15px; text-decoration:underline;}
#downloadcontent .videolist a:hover{ text-decoration:none;}
#downloadcontent .newslist{ display:inline-block;}
#downloadcontent .newslist li{  padding:0px 0px 5px 0px;}
#downloadcontent .newslist .pic{ float:left; margin:2px 7px 0px 0px;}
#downloadcontent .newslist a{ color:#8B9E79; margin:0px 0px 0px 15px; text-decoration:underline;}
#downloadcontent .newslist a:hover{ color:#8B9E79; text-decoration:none;}
#downloadcontent .imagelist{ display:inline-block;}
#downloadcontent .imagelist li{ padding:0px 35px 0px 0px; float:left; width:120px; text-align:center; height:200px;}
#downloadcontent .imagelist img{ width:120px; height:160px;}
#downloadcontent  .foldout li {
    width: 300px;
    padding-right: 10px;
    height: 200px;
}
#downloadcontent .imagelist img{ }
#downloadcontent .foldout img{ width: 300px; }
#downloadcontent .imagelist p{ padding:5px 0px 0px 0px; height:25px; line-height:25px; overflow:hidden;}
#downloadcontent .imagelist p a{color:#8B9E79; text-decoration:underline;}
#downloadcontent .imagelist p a:hover{ text-decoration:none;}
#newslist ul{ padding:20px;}
#newslist li{ padding:2px 0px; height:25px; line-height:25px; overflow:hidden;}
#newslist li span{ color:#A0A0A0;  display:inline-block; width:80px;}
#newslist li label{ color:#CB0201; font-size:10px; font-style:italic; padding:0px 0px 0px 5px;}
#newslist li a{ text-decoration:underline;}
#newslist li a:hover{ text-decoration:none; color:#484848;}
#newslist .page{ padding:10px 0px 0px 0px; border-top:solid 1px #DDDDDD; text-align:right;}
#newslist .page img{ vertical-align:middle;}
#newslist .page a{ vertical-align:middle; margin:0px 5px;}
#newslist .page .hover{ font-weight:bold; text-decoration:underline;}
#newsdetail{ line-height:20px;}
#newsdetail .date{ margin:0px 0px 10px 0px; padding:5px 0px 20px 0px; border-bottom:solid 1px #DDDDDD; text-align:center;}
#newsdetail .date span{ color:#A0A0A0; padding:0px 8px;}
#newsdetail .h2{ padding:20px 0px 0px 0px; text-align:center; font-size:14px;}
#newsdetail p{ padding:10px 0px; text-indent:2em;}
#newsdetail h3{ padding:10px 0px;}
#newsdetail .p{ text-indent:0px;}
#newsdetail .img{ text-align:center; padding:10px 0px;}
#searchresult{ padding:20px 10px;}
#searchresult .dl{border-bottom:dotted 1px #CBCBCB; padding:0px 0px 15px 0px; margin:0px; position:relative; left:-8px; width:auto; float:none;}
#searchresult .dl .p{ font-size:14px; font-weight:bold; height:30px; line-height:30px; }
#searchresult .dl dd{ line-height:20px; background:url(../pic/li06.jpg) no-repeat 0px 15px; padding:8px 0px 0px 14px;}
#searchresult .searchtitle{ height:32px; font-size:14px; line-height:32px;}
#searchresult .searchtitle .back{ float:right; width:132px; height:32px; background:url(../pic/searchtitle.jpg) no-repeat 0px 0px; text-align:center; line-height:32px; color:White; font-size:14px; text-decoration:none; }
#searchresult ul{ padding:10px 0px 0px 0px;}
#searchresult li{ padding-top: 10px; padding-right: 10px; padding-bottom: 15px;	padding-left: 20px; *padding:1px 0px; border-bottom:dotted 1px #CBCBCB;}
#searchresult .img{ float:left; width:160px;}
#searchresult .img img{ width:160px; height:120px;}
#searchresult dl{ float:right; width:425px; line-height:20px;}
#searchresult dt{ height:30px; line-height:30px; overflow:hidden;}
#searchresult dt a{ font-size:18px; font-weight:bold; color:#E04C36; background:url(../pic/li05.jpg) no-repeat right 4px; padding:0px 15px 0px 0px;}
#searchresult .more{ background:url(../pic/more.jpg) no-repeat 0px 2px; color:#839870; padding:0px 0px 0px 20px; display:block; height:20px;}
#searchresult dd{ padding:5px 0px 0px 0px;}
#searchresult .dd{ height:60px; overflow:hidden;}
#productsearch{ padding:20px 0px; width:648px; margin:0px auto;}
#productsearch .searchtitle{ color:#E04C36; line-height:30px; font-size:16px; font-weight:bold;}
#productsearch .selectcontent{ float:left;}
#productsearch .item{ width:648px; margin:10px auto 0px auto;}
#productsearch .t{ height:4px; overflow:hidden; background:url(../pic/searchitem_t.jpg) no-repeat 0px 0px;}
#productsearch .b{ height:4px; overflow:hidden; background:url(../pic/searchitem_b.jpg) no-repeat 0px 0px;}
#productsearch .body{ padding:20px 15px 15px 15px; background-color:#E7F0F7;}
#productsearch .body strong{  display:block; height:24px; line-height:24px; font-size:14px; float:left; width:120px; color:#044B8C; }
#productsearch .searchbtn{ float:right; width:132px; height:32px; position:relative; top:-4px; border:0px; cursor:pointer; font-size:12px; color:White; font-weight:bold; background:url(../pic/searchbtn.jpg) no-repeat 0px 0px; vertical-align:middle; margin:0px 10px 0px 10px;}
#productsearch .select{ width:210px; float:left; margin:0px 8px 0px 0px; height:22px; vertical-align:middle; line-height:22px;}
.selectcontentinner{ }
.selectcontent{ margin:0px 10px 0px 0px; z-index:999; position:relative;  background:url(../pic/select02.jpg) no-repeat 0px 0px;}
.selectcontent .text{ cursor:pointer; line-height:24px; float:left; height:24px; padding:0px 0px 0px 15px;}
.selectcontent .inner{ cursor:pointer; height:24px;}
.selectcontent .inners{ display:none; left:0px; z-index:999999999999; top:21px; margin:0px 0px 0px 0px; width:100%; position:absolute;}
.selectcontent_current{ z-index:99999999;}
.selectcontent_current .inners{ display:block;}
.selectcontent .btn{ width:30px; height:24px; float:right;background:url(../pic/select02.jpg) no-repeat right 0px;}
.selectcontent .none{display:block;  background-color:White; border:solid 1px #B3B3B3; border-top-width:0px; }
.selectcontent .none li{ padding:0px 0px 0px 15px; height:25px; line-height:25px; overflow:hidden;}
.selectcontent .none li:hover{ cursor:pointer; color:Black;  background-color:#E7F0F7;}
#shopsearch{ padding:20px 0px;}
#shopsearch .tabs{ height:34px; border-bottom:solid 1px #DCDCDC;}
#shopsearch .tabs li{ height:34px;  width:188px; float:left; padding:0px 2px 0px 0px; line-height:34px;}
#shopsearch .tabs a{ color:#839870; float:left; display:block; width:188px; height:34px; text-align:center; background:url(../pic/search_tabs.jpg) no-repeat 0px 0px;}
#shopsearch .tabs .current,#shopsearch .tabs a:hover{ color:Black;  text-decoration:none; background-position:right 0px;}
#shopsearch .body{ padding:20px 0px 0px 0px; overflow:hidden;}
#shopsearch .map{ float:left; width:690px; }
#shopsearch .sc_kk{ float:left; width:400px; }

.sck_text{ padding-top:10px; padding-left:8px; font-weight:bold;}


#shopsearch .search{ padding:10px 0px;}
#shopsearch .searchtxt{ color:#656565; margin:0px 8px; height:24px; line-height:24px; padding:0px 5px; background:url(../pic/text_bg.jpg) repeat-x 0px 0px; vertical-align:middle; border:solid 1px #B9B9B9; width:178px;}
#shopsearch .searchbtn{  width:100px; height:32px; line-height:28px; border:0px; cursor:pointer; background:url(../pic/searchbtn2.jpg) no-repeat 0px 0px; color:White;  font-weight:bold; vertical-align:middle;}

#shopsearch .list{ padding:10px 0px 0px 10px; /*border-top:solid 2px #CBCBCB;*/ }
#shopsearch .list li{  *display:inline-block; background:url(../pic/li04.jpg) no-repeat 0px 27px; padding:20px 0px 0px 10px; position:relative;}
#shopsearch .list dt{ line-height:22px; height:22px; overflow:hidden; color:#E04C36; font-weight:bold;}
#shopsearch .list dd{ line-height:20px;}
#shopsearch .list p{ color:#656565;}
/*#shopsearch .list .tip{
	height:20px;
	left:240px;
	top:20px;
	background:url(../pic/tip.jpg) no-repeat 0px 0px;
	position:absolute;
	padding:0px 0px 0px 10px;
	width: 46px;
}
#shopsearch .list .tip strong{ line-height:20px;color:#ffffff; background:url(../pic/tip.jpg) no-repeat right 0px;  display:inline-block; height:20px; padding:0px 10px 0px 0px;}*/

#shopsearch .list .tip{
    height:20px;
    left:260px;
    top:20px;
    position:absolute;
    padding:0px 0px 0px 10px;
    overflow:hidden;

}

#shopsearch .list .tip span{ display:block; float:left;}
.tip_con{ background:url(../pic/tip3.jpg) repeat-x; height:20px; color:#fff; line-height:20px;}


#shopsearch .searchtable{ padding:10px 0px;}
.sc_top{ float:left; width:180px; padding-left:10px;}
.sct_btn{ float:left; width:100px; margin-top:35px; padding-left:30px; overflow:hidden;}

#shopsearch .sct_f1{ overflow:hidden; margin-bottom:15px;}
#shopsearch .sct_f1 span{ display:block; float: left; line-height:22px;}
#shopsearch .sct_f1 span.sf_text{ width:55px;}



#shopsearch .searchtable{ overflow:hidden;}

#shopsearch .searchtable td{ padding:5px;}
#shopsearch .searchtable .td{ text-align:right;}
#products_mapping_pcr{ position:relative; background:url(../pic/products_mapping_bg.jpg) no-repeat center 20px; height:550px;}
#products_mapping_pcr li{
    width:80px;
    height:120px;
    overflow:hidden;
    position:absolute;
    top: 144px;
    left: 461px;
}
#products_mapping_pcr li a{ display:block; height:130px; width:100px; text-indent:-99999px;}
#products_mapping_pcr .l1{
    left:302px;
    top:282px;
}
#products_mapping_pcr .l2{
    left:386px;
    width:80px;
    top:274px;
}
#products_mapping_pcr .l2 a{ width:90px;}
#products_mapping_pcr .l3{
    left:196px;
    width:85px;
    top:256px;
}
#products_mapping_pcr .l3 a{ width:85px;}
#products_mapping_pcr .l4{
    left:96px;
    width:95px;
    top:160px;
}
#products_mapping_pcr .l4 a{ width:95px;}
#products_mapping_pcr .l7{
    left:-1px;
    width:95px;
    top:128px;
}
#products_mapping_pcr .l7 a{ width:95px;}

#products_mapping_pcr .l8{
    left:464px;
    width:95px;
    top:147px;
}
#products_mapping_pcr .l8 a{ width:105px;}

#products_mapping{ width:698px; height:649px; margin-top:10px; position:relative; background:url(../pic/products_mapping_bgs.jpg) no-repeat 0px 20px;}
#products_mapping li{position:absolute; overflow:hidden;}
#products_mapping li a{ display:block; text-indent:-9999px; overflow:hidden;}
#products_mapping .l1{ width:79px; height:140px; top:120px; left:0px;}
#products_mapping .l1 a{ width:79px; height:140px;}
#products_mapping .l2{
    width:97px;
    height:134px;
    top:160px;
    left:79px;
}
#products_mapping .l2 a{ width:100px; height:134px;}
#products_mapping .l3{ left:184px; top:210px; width:100px; height:135px;}
#products_mapping .l3 a{ width:100px; height:135px;}
#products_mapping .l4{ width:76px; height:136px; left:284px; top:240px;}
#products_mapping .l4 a{ width:76px; height:136px;}
#products_mapping .l5{ width:85px; height:140px; left:360px; top:250px;}
#products_mapping .l5 a{ width:85px; height:140px;}
#products_mapping .l6{
    width:97px;
    height:174px;
    left:445px;
    top:280px;
}
#products_mapping .l6 a{ width:92px; height:174px;}
#products_mapping .l7{
    width:92px;
    height:160px;
    left:548px;
    top:369px;
}
#products_mapping .l7 a{ width:100px; height:160px;}
#products_mapping .l8{ width:90px; height:130px; left:405px; top:125px;}
#products_mapping .l8 a{ width:90px; height:130px;}
#products_mapping .l9{ width:100px; height:130px; left:500px; top:125px;}
#products_mapping .l9 a{ width:100px; height:130px;}
#products_tips{ padding:10px 0px 0px 0px;}
#products_tips dl{ padding:15px 0px 0px 20px; }
#products_tips .current dt{}
#products_tips .current dt strong{ background:url(../pic/products_tips_close.jpg) no-repeat right 4px;}
#products_tips .current dd{ display:block;}
#products_tips dt{ cursor:pointer; height:25px; line-height:25px;background:url(../pic/quality_safety_li.jpg) no-repeat 0px 4px; padding:0px 0px 0px 20px;}
#products_tips dt strong{color:#E04C36; font-size:14px; padding:0px 20px 0px 0px; background:url(../pic/products_tips_hide.jpg) no-repeat right 4px;}
#products_tips dd{ display:none; line-height:20px; padding:10px 15px 15px 40px; border-bottom:dotted 1px #CBCBCB;}
#products_tips dd ul{ padding:0 20px 0px 15px;}
ul.tips li { list-style: disc;}
