body { font-family:Arial, Helvetica, sans-serif;}
p,li,ul,dt,dl,dd,a,blockquote,body,h1,h2,h3,h4,h5,h6{padding:0px; margin:0px; text-decoration:none; font-size:12px;list-style-type:none;color:#484848;}
a,span,label,b,div{ font-size:12px;}
a{ text-decoration:none;}
ul,li{text-decoration:none; list-style-type:none;}
img{ border:0px; vertical-align:bottom;}
input{ outline:none;}
.clear{ clear:both;}
.none{ display:none;}
a:hover{ color:#E04C36; text-decoration:underline;}
body{ background:url(../pic/scratched.jpg) repeat-x 0px 0px #FCFAF5 fixed;}
h1.title {font-size:18px;color:#E04C36;font-weight:bold;line-height:25px;}
.mt-10 {margin-top:10px;}
.sup{ position:relative; left:-81px; top:-4px; font-size:10px; color:#8ea37c;}
.menu1{ position:relative; left:45px; top:-28px; font-size:10px; color:#8ea37c;}
#newslist li {
}
#newslist li span.sup {color: #8EA37C;font-size: 10px; width: auto; left: auto; top: -4px; text-decoration: underline;  height: 20px;}
/*.png{_behavior:url(pic/iepngfix.htc); }
.img_png{opacity:0.60;filter:Alpha(Opacity=60);background:url(../pic/friend_flow_bg2.png) no-repeat!important;background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='pic/friend_flow_bg2.png',sizingMethod='image');}
*/ 
#allcontent{background-color:#FFFFFF; _overflow:hidden; margin:0px auto;padding:0 30px;position:relative; width: 920px; -moz-box-shadow: 0 0 20px 1px #666; -webkit-box-shadow: 0 0 20px #666; box-shadow:0 0 20px 1px #666;behavior: url('js/PIE.htc'); }
#header{ height:69px; padding:15px 0px 20px 0px; width:920px; margin:0px auto;}
#logo{ float:left; width:184px; height:69px; background:url(../pic/logo.jpg) no-repeat 0px 0px;}
#logo a{ display:block; width:184px; height:69px; text-indent:-99999px;}
#header .r{ float:right; width:720px; height:69px;}
#nav{ padding:20px 0px 0px 0px; height:17px;}
#nav .ul{ float:right;}
#nav .li{ z-index:9999999; text-align:center;float:left; position:relative;  border-left:solid 1px #CBCBCB; height:17px; line-height:17px;}
#nav .li .a{ font-size:14px; color:#839870; font-weight:bold; }
#nav .li .a:hover{ color:#e04c36; text-decoration:none;}
#nav .home{ width:50px; border:0px;}
#nav .home .a{ background:url(../pic/home.jpg) no-repeat 0px 1px; display:inline-block; width:16px; height:17px;}
#nav .li .none{  text-align:left; left:-1px; top:17px; border:solid 1px #CCCCCC;border-top:none; background-color:#FFFFFF; width:100%;  position:absolute; z-index:9999; }
#nav .current .none{ display:block;}
#nav .li li{ height:25px; line-height:25px; overflow:hidden;}
#nav .li li a{color:#839870;}
#nav .li li a:hover{ color:#E04C36;}
#nav .li ul{ padding:5px 5px 5px 10px;}
#nav .li1{ width:102px;}
#nav .li2{ width:145px;}
#nav .li3{ width:130px;}
#nav .li4{ width:102px;}
#nav .li5{ width:102px;border-right:1px solid #cbcbcb;}
#header .site{ height:24px; line-height:24px; _overflow:hidden; text-align:right;}
#header .site .a{ margin:0px 10px 0px 0px; color:#839870; background:url(../pic/li04.jpg) no-repeat 0px 10px;display:inline-block; padding:0px 0px 0px 8px;}
#topselectcontent{ cursor:pointer; float:right; width:115px; position:relative; z-index:999999999999; height:24px; background:url(../pic/select_01.jpg) no-repeat 0px 2px;}
#topselectcontent .text{ text-align:left;  padding:2px 0px 0px 24px; height:22px;}
#topselectcontent .none{ text-align:left; width:113px;position:absolute; top:22px; left:0px; border:solid 1px #CBCBCB; border-top-width:0px; background-color:#FFFFFF;}
#topselectcontent .none li{  height:25px; line-height:25px;} 
#topselectcontent .none li a{ overflow:hidden; display:block; height:25px; padding:0px 0px 0px 10px;}
#topselectcontent .none li a:hover{ text-decoration:none; background-color:#004D8C; color:White;}
#maincontent{ padding:0px 0px 5px 0px; width:920px; margin:0px auto;}
#leftcontent{ width:200px; border-bottom:solid 1px #DDDDDD; float:left;}
#leftcontent h2, #leftcontent h3, #leftcontent strong{ display:block;height:27px; line-height:27px; background-color:#F2F2F2; color:#E04C36; font-size:14px; font-weight:bold; padding:0px 0px 0px 10px;}
#leftcontent dt{ height:31px; line-height:31px; overflow:hidden;}
#leftcontent dt{ cursor:pointer;   text-decoration:none; height:31px; display:block;}
#leftcontent dt a{ padding:0px 0px 0px 10px; text-decoration:none; height:31px; display:block;  background:url(../pic/left_menu_bg.jpg) no-repeat 0px 0px;}
#leftcontent dt strong{ padding:0px 0px 0px 10px; font-weight:normal;}
#leftcontent dt a:hover{background-position:0px -31px;color:#484848;}
#leftcontent dd{ display:none;}
#leftcontent dd.info_dd{ display:block;}
#leftcontent dd ul{padding:10px 0px 10px 13px; }
#leftcontent dd li{height:23px; line-height:23px; overflow:hidden;}
#leftcontent dd ul.news_sidebar li{overflow:auto; height: auto}
#leftcontent dd ul.news_sidebar li a.hover{color: #E04C36}
#leftcontent dd a{ text-decoration:none; padding:0px 0px 0px 10px; overflow:hidden; display:block;}

#leftcontent dd.info_dd li {
    background: #FFF url("../pic/li04.jpg") no-repeat left 8px;
}
#leftcontent dd.info_dd li a.hover {
    color: #E04C36;
}
#leftcontent dd .hover{}
#leftcontent dd .new{ background:url(../pic/new.jpg) no-repeat 68px 3px;}
#leftcontent dd .new2{ background:url(../pic/new.jpg) no-repeat 60px 3px;}
#leftcontent dd .hover a{ color:#E04C36; background:url(../pic/li04.jpg) no-repeat 0px 8px;}
#leftcontent .current dt{background:url(../pic/left_menu_bg.jpg) no-repeat 0px -31px;}
#leftcontent .current dt a{color:#484848; background-position:0px -31px;}
#leftcontent .current dd{ display:block;}

#leftcontent span.sx_a, #sitemap li.sx_a_outer .sx_a{
	position:absolute;
	font-size:10px;
	top: -1px;
	left: 70px;
}
#sitemap li.sx_a_outer {
 position: relative;
}

#rightcontent{ float:right; _overflow:hidden; width:690px;}
#site{ padding:0px 10px; height:28px; line-height:28px; overflow:hidden; background-color:#F2F2F2;}
#site span{ color:#879B75;font-weight:bold; padding:0px 5px;}
#site a{ color:#879B75;display:inline-block;}
#site h1 {
  display: inline;
  font-weight: normal;
}
#footer{color:#656565; padding:5px 10px 20px 10px; width:900px; margin:0px auto; border-top:solid 3px #ABB79F; line-height:25px; text-align:right;}
#footer label{ float:left;}
#footer a{margin:0px 10px 0px 0px; color:#656565; background:url(../pic/li04.jpg) no-repeat 0px 10px; display:inline-block;padding:0px 0px 0px 8px;}
.totop{ padding:50px 0px 0px 0px; text-align:right;}

.fx_icon{ overflow:hidden; margin-top:10px;}
.fx_icon span{ display:block; float:left;}
.fx_icon span.fxi_text{ line-height:28px; color:#999; }
.various {
    float: right;
    display: block;
    background: #FFF url("../images/full_map_icon.png") no-repeat left center;
    padding: 0 0 0 15px;
}
