p,li,ul,dt,dl,dd,a,blockquote,body,h1,h2,h3,h4,h5,h6{padding:0px; margin:0px; text-decoration:none; font-size:12px;list-style-type:none;font-family:Arial, Helvetica, sans-serif; color:#484848;}
a,span,label,b,div{ font-size:12px;font-family:Arial, Helvetica, sans-serif;}
input{font-family:Arial, Helvetica, sans-serif;}
a{ text-decoration:none;}
ul,li{text-decoration:none; list-style-type:none;}
img{ border:0px; vertical-align:bottom;}
input{ outline:none;}
.clear{ clear:both;}
.none{ display:none;}
a:hover{ color:#E04C36; text-decoration:underline;}
body{ background:url(../pic/scratched.jpg) repeat-x 0px 0px #FCFAF5 fixed;}
h1.title {font-size:18px;color:#E04C36;font-weight:bold;line-height:25px;}
.mt-10 {margin-top:10px;}
/*.png{_behavior:url(pic/iepngfix.htc); }
.img_png{opacity:0.60;filter:Alpha(Opacity=60);background:url(../pic/friend_flow_bg2.png) no-repeat!important;background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='pic/friend_flow_bg2.png',sizingMethod='image');}
*/
#allcontent{background-color:#FFFFFF; _overflow:hidden; margin:0px auto;padding:0 30px;position:relative; width: 920px; -moz-box-shadow: 0 0 20px 1px #666; -webkit-box-shadow: 0 0 20px #666; box-shadow:0 0 20px 1px #666;behavior: url('js/PIE.htc'); }
#header{ height:69px; padding:15px 0px 20px 0px; width:920px; margin:0px auto;}
#logo{ float:left; width:184px; height:69px; background:url(../pic/logo.jpg) no-repeat 0px 0px;}
#logo a{ display:block; width:184px; height:69px; text-indent:-99999px;}
#header .r{ float:right; width:720px; height:69px;}
#nav{ padding:20px 0px 0px 0px; height:17px;}
#nav ul{ float:right;}
#nav li{ float:left; padding:0px 20px; border-left:solid 1px #CBCBCB; height:17px; line-height:17px; overflow:hidden;}
#nav li a{ font-size:14px; color:#839870; font-weight:bold; }
#nav li a:hover{ color:#e04c36; text-decoration:none;}
#nav .home{ border:0px;}
#nav .home a{ background:url(../pic/home.jpg) no-repeat 0px 1px; display:inline-block; width:16px; height:17px;}
#header .site{ height:24px; line-height:24px; _overflow:hidden; text-align:right;}
#header .site .a{ margin:0px 10px 0px 0px; color:#839870; background:url(../pic/li04.jpg) no-repeat 0px 5px; padding:0px 0px 0px 8px;}
#topselectcontent{ cursor:pointer; float:right; width:92px; position:relative; z-index:999999; height:24px; background:url(../pic/select_01.jpg) no-repeat 0px 0px;}
#topselectcontent .text{ text-align:left; line-height:22px; padding:0px 0px 0px 10px; height:24px;}
#topselectcontent .none{ text-align:left; width:88px;position:absolute; top:20px; left:0px; border:solid 1px #CBCBCB; border-top-width:0px; background-color:#EAEAEA;}
#topselectcontent .none li{  height:25px; line-height:25px;} 
#topselectcontent .none li a{ font-family:Arial; overflow:hidden; display:block; height:25px; padding:0px 0px 0px 10px;}
#topselectcontent .none li a:hover{ text-decoration:none; background-color:#004D8C; color:White;}
#maincontent{ padding:0px 0px 5px 0px; width:920px; margin:0px auto;}
#leftcontent{ width:200px; border-bottom:solid 1px #DDDDDD; float:left;}
#leftcontent h3{ height:27px; line-height:27px; background-color:#F2F2F2; color:#E04C36; font-size:14px; font-weight:bold; padding:0px 0px 0px 10px;}
#leftcontent dt{ height:31px; line-height:31px; overflow:hidden;}
#leftcontent dt{ cursor:pointer;   text-decoration:none; height:31px; display:block;}
#leftcontent dt a{ padding:0px 0px 0px 10px; text-decoration:none; height:31px; display:block;  background:url(../pic/left_menu_bg.jpg) no-repeat 0px 0px;}
#leftcontent dt strong{ padding:0px 0px 0px 10px; font-weight:normal;}
#leftcontent dt a:hover{background-position:0px -31px;color:#484848;}
#leftcontent dd{ display:none;}
#leftcontent dd ul{padding:10px 0px 10px 13px; }
#leftcontent dd li{height:23px; line-height:23px; overflow:hidden;}
#leftcontent dd a{ text-decoration:none; padding:0px 0px 0px 10px; overflow:hidden; display:block;}
#leftcontent dd .hover{ background:url(../pic/li04.jpg) no-repeat 0px 8px;}
#leftcontent dd .hover a{ color:#E04C36;}
#leftcontent .current dt{background:url(../pic/left_menu_bg.jpg) no-repeat 0px -31px;}
#leftcontent .current dt a{color:#484848; background-position:0px -31px;}
#leftcontent .current dd{ display:block;}
#rightcontent{ float:right; _overflow:hidden; width:690px;}
#site{ padding:0px 10px; height:28px; line-height:28px; overflow:hidden; background-color:#F2F2F2;}
#site span{ color:#879B75; font-family:MS Sans Serif; font-weight:bold; padding:0px 5px;}
#site a{ color:#879B75;}
#footer{color:#656565; padding:5px 10px 20px 10px; width:900px; margin:0px auto; border-top:solid 3px #ABB79F; line-height:25px; text-align:right;}
#footer label{ float:left;}
#footer span{ font-family:Arial;}
#footer a{margin:0px 10px 0px 0px; color:#656565; background:url(../pic/li04.jpg) no-repeat 0px 10px; display:inline-block;padding:0px 0px 0px 8px;}
.totop{ padding:50px 0px 0px 0px; text-align:right;}