<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<%= render '/refinery/head' %>
  <body>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
	<div id="allcontent">
	<div id="header">
	  <h1 id="logo"><a href="index.htm">固铂轮胎</a></h1>
	  <div class="r">
	    <div class="site">
	    <div id="topselectcontent">
	       <div class="text">品牌家族</div>
	       <div class="none">
	         <ul>
	          <li><a href="http://www.mastercrafttires.com" target="_blank" title="Mastercraft">Mastercraft</a></li>
	          <li><a href="http://www.avontyres.com/" target="_blank" title="Avon Tyres">Avon Tyres</a></li>
	          <li><a href="http://www.mickeythompsontires.com/" target="_blank" title="Mickey Thompson">Mickey Thompson</a></li>
	          <li><a href="http://www.starfiretire.com.cn/" target="_blank" title="Starfire">Starfire</a></li>
	          <li><a href="http://www.chengshantire.com/" target="_blank" title="Chen Shan">Chen Shan</a></li>
	          <li><a href="#" title="Roadmaster" target="_blank">Roadmaster</a></li>
	          <li><a href="http://www.dickcepek.com/" title="Dick Cepek" target="_blank">Dick Cepek</a></li>
	          <li><a href="#" target="_blank" title="Dean">Dean</a></li>
	          <li><a href="http://www. austonetire.com" target="_blank" title="Austone">Austone</a></li>
	          <li><a href="http://www.fortunetire.com.cn" target="_blank" title="Fortune">Fortune</a></li>
	         </ul>
	       </div>
	    </div>
	    <a class="a" href="contactus.htm">联系我们</a><a class="a" href="sitemap.htm">网站地图</a><a class="a" href="http://www.coopertire.com" target="_blank" >固铂全球官网</a>
	    </div>
	    <div id="nav">
	      <ul>
	        <li class="home"><a href="/index.htm"></a></li>
	        <li><a href="/about.htm">关于固铂</a></li>
	        <li><a href="/brand_position.htm">无固铂，不越野</a></li>
	        <li><a href="/products_mapping.htm">产品和服务</a></li>
	        <li><a href="/infos">新闻媒体</a></li>
	        <li><a href="/shop_search1.htm">营销网络</a></li>
	      </ul>
	    </div>
	  </div>
	</div>
	
	<div id="maincontent">
		
	   <section id="page">
	        <%= yield %>
	      </section>
	
</div>

<div id="footer"><label><a href="/contactus.htm">联系我们</a><a href="/privacy.htm">隐私条款</a><a href="/sitemap.htm">网站地图</a></label> Copyright <span>&copy;</span> 2012 Cooper Tire & Rubber Company | 沪ICP备12001223号</div>
</div>

<script language="javascript" type="text/javascript" src="/js/jquery-1.4.4.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/global.js"></script>
</body>
</html>
